# Azure DevOps pipeline to release a new version and deploy to production.

variables:
  NAMESPACE: '$(TF_NAMESPACE)'
  DOCKER_IMAGE_NAME: '$(TF_DOCKER_IMAGE_NAME)'
  CONTAINER_REGISTRY_NAME: '$(TF_CONTAINER_REGISTRY_NAME)'
  CONTAINER_REGISTRY_SERVICE_CONN: '$(TF_CONTAINER_REGISTRY_SERVICE_CONN)'
  KUBERNETES_SERVICE_CONN_WEU_BETA: '$(TF_KUBERNETES_SERVICE_CONN_WEU_BETA)'
  KUBERNETES_SERVICE_CONN_WEU_PROD_01: '$(TF_KUBERNETES_SERVICE_CONN_WEU_PROD_01)'
  KUBERNETES_SERVICE_CONN_WEU_PROD_02: '$(TF_KUBERNETES_SERVICE_CONN_WEU_PROD_02)'

parameters:
  - name: 'RELEASE_SEMVER'
    displayName: 'When packing a release, define the version bump to apply'
    type: string
    values:
      - major
      - minor
      - patch
    default: minor
  - name: 'FORCE_REPLACE_DOCKER_IMAGE'
    displayName: 'Force the existing docker image to be replaced'
    type: boolean
    default: True
    values:
      - False
      - True
  - name: 'ENVIRONMENT_WEU_BETA'
    displayName: 'Deploy to weu-beta'
    type: boolean
    default: True
    values:
      - False
      - True
  - name: 'ENVIRONMENT_WEU_PROD_01'
    displayName: 'Deploy to weu-prod-01'
    type: boolean
    default: True
    values:
      - False
      - True
  - name: 'ENVIRONMENT_WEU_PROD_02'
    displayName: 'Deploy to weu-prod-02'
    type: boolean
    default: False
    values:
      - False
      - True

# Only manual activations are intended
trigger: none
pr: none

# resources:
#   repositories:
#     - repository: pagopaCommons
#       type: github
#       name: pagopa/azure-pipeline-templates
#       ref: refs/tags/v19
#       endpoint: 'io-azure-devops-github-ro'

pool:
  vmImage: 'ubuntu-latest'

stages:
  # Create a relase
  # Activated when ONE OF these are met:
  # - is on branch master
  # - is a tag in the form v{version}-RELEASE
  - stage: Release
    condition: and(
      succeeded(),
      or(
      eq(variables['Build.SourceBranch'], 'refs/heads/master'),
      and(
      startsWith(variables['Build.SourceBranch'], 'refs/tags'),
      endsWith(variables['Build.SourceBranch'], '-RELEASE')
      )
      )
      )
    jobs:
      - job: make_release
        steps:
          - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/master') }}:
              - task: Bash@3
                displayName: Get current version
                name: current_version
                inputs:
                  targetType: 'inline'
                  script: |
                    current_version=$(cat pom.xml | grep '^.*<version>' | sed -n 2p | awk -F'[><]' '{print $3}')
                    echo "##vso[task.setvariable variable=value;isOutput=true]$current_version"
              - task: Bash@3
                displayName: Get next version
                name: next_version
                inputs:
                  targetType: 'inline'
                  script: |
                    version_patch=$(echo $(current_version.value) | grep -Eo "[0-9]+$")
                    version_minor=$(echo $(current_version.value) | grep -Eo "[0-9]+\.[0-9]+$" | grep -Eo "^[0-9]+")
                    version_major=$(echo $(current_version.value) | grep -Eo "^[0-9]+")

                    echo "Existing version: ${version_major}.${version_minor}.${version_patch}"

                    if [ ${{ parameters.RELEASE_SEMVER }} = patch ];
                    then
                      let "version_patch=version_patch+1"
                    elif [ ${{ parameters.RELEASE_SEMVER }} = minor ];
                    then
                      version_patch=0
                      let "version_minor=version_minor+1"
                    elif [ ${{ parameters.RELEASE_SEMVER }} = major ];
                    then
                      version_patch=0
                      version_minor=0
                      let "version_major=version_major+1"
                    fi
                    printf "New version: "
                    echo "${version_major}.${version_minor}.${version_patch}"
                    next_version="${version_major}.${version_minor}.${version_patch}"
                    echo "##vso[task.setvariable variable=value;isOutput=true]$next_version"

          - ${{ if ne(variables['Build.SourceBranch'], 'refs/heads/master') }}:
              - script: |
                  echo "We assume this reference to be a valid release: $(Build.SourceBranch). Therefore, there is no need to bundle a new release."
                displayName: 'Skip release bundle'

  # Build
  - stage: Build
    dependsOn: Release
    jobs:
      - job: 'Build'
        steps:
          # - task: Bash@3
          #   displayName: Check Version and Branch
          #   inputs:
          #     targetType: 'inline'
          #     script: |
          #       version=$(cat pom.xml | grep '^.*<version>' | sed -n 2p | awk -F'[><]' '{print $3}')
          #       branch="$(Build.SourceBranch)"
          #       if [[ "$branch" != "refs/heads/master" && ! "$branch" =~ "refs/tags/.*" && "${{ parameters.environment }}" == "prod" ]]; then
          #         echo "Deploy branch $branch is not allowed."
          #         exit 1
          #       fi
          #       if [[ "$version" == *SNAPSHOT && "${{ parameters.environment }}" == "prod" ]]; then
          #         echo "Version $version is not allowed."
          #         exit 1
          #       fi
          #     failOnStderr: true

          - task: Bash@3
            displayName: Get POM version
            name: getpomversion
            inputs:
              targetType: 'inline'
              script: |
                version=$(cat pom.xml | grep '^.*<version>' | sed -n 2p | awk -F'[><]' '{print $3}')
                echo "##vso[task.setvariable variable=outputpomversion;isOutput=true]$version"
              failOnStderr: true

          - task: Docker@2
            displayName: 'docker login'
            inputs:
              containerRegistry: 'io-p-payments-acr-docker-registry-prod'
              command: 'login'
          - task: Bash@3
            displayName: 'docker build and push (force)'
            condition: and(succeeded(), eq(${{ parameters.FORCE_REPLACE_DOCKER_IMAGE }}, True))
            inputs:
              targetType: 'inline'
              script: |
                echo "[INFO] the parameter FORCE_REPLACE_DOCKER_IMAGE is set to true, start build and push"
                docker build -t $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):$(Build.BuildId) .
                docker build -t $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):$(getpomversion.outputpomversion) .
                docker build -t $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):latest .
                docker push $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):$(Build.BuildId)
                docker push $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):$(getpomversion.outputpomversion)
                docker push $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):latest
          - task: Bash@3
            displayName: 'docker build and push'
            condition: and(succeeded(), eq(${{ parameters.FORCE_REPLACE_DOCKER_IMAGE }}, False))
            inputs:
              targetType: 'inline'
              script: |
                # docker will return 0 on success or 1 on failure.
                docker manifest inspect $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):latest > /dev/null

                if [ $? -eq 0 ]; then
                  echo "[INFO] docker image already exists in the registry, skip build and push"
                else
                  echo "[INFO] docker image does not exist in the registry, start build and push"
                  docker build -t $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):$(Build.BuildId) .
                  docker build -t $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):$(getpomversion.outputpomversion) .
                  docker build -t $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):latest .
                  docker push $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):$(Build.BuildId)
                  docker push $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):$(getpomversion.outputpomversion)
                  docker push $(CONTAINER_REGISTRY_NAME)/$(DOCKER_IMAGE_NAME):latest
                fi

  - stage: 'Serving_helm'
    displayName: 'Serving_Helm'
    dependsOn: Build
    jobs:
      - job: Serving_helm
        displayName: Serving_helm
        steps:
          - task: PublishPipelineArtifact@1
            displayName: 'Publish Artifact manifests'
            condition: succeeded()
            inputs:
              targetPath: '$(Build.Repository.LocalPath)/helm'
              artifact: 'helm'
              publishLocation: 'pipeline'

  - stage: 'Deploy'
    dependsOn: 'Serving_helm'
    jobs:
      - deployment: 'Deploy'
        pool:
          name: io-prod-linux
        environment: PROD
        strategy:
          runOnce:
            deploy:
              steps:
                - download: none
                - task: DownloadPipelineArtifact@2
                  inputs:
                    buildType: 'current'
                    artifactName: 'helm'
                    targetPath: '$(Pipeline.Workspace)/helm'
                - task: Bash@3
                  displayName: 'prepare helm'
                  inputs:
                    targetType: 'inline'
                    script: |
                      helm repo add microservice-chart https://pagopa.github.io/aks-microservice-chart-blueprint
                      helm dep build $(Pipeline.Workspace)/helm
                - task: HelmDeploy@0
                  displayName: Helm upgrade
                  condition: and(succeeded(), eq(${{ parameters.ENVIRONMENT_WEU_BETA }}, True))
                  inputs:
                    kubernetesServiceEndpoint: $(KUBERNETES_SERVICE_CONN_WEU_BETA)
                    namespace: $(NAMESPACE)
                    command: upgrade
                    chartType: filepath
                    chartPath: $(Pipeline.Workspace)/helm
                    chartName: $(DOCKER_IMAGE_NAME)
                    releaseName: $(DOCKER_IMAGE_NAME)
                    valueFile: '$(Pipeline.Workspace)/helm/values-beta.yaml'
                    install: true
                    waitForExecution: true
                    arguments: '--timeout 5m0s'
                    overrideValues: microservice-chart.image.tag=$(Build.BuildId)
                - task: HelmDeploy@0
                  displayName: Helm upgrade
                  condition: and(succeeded(), eq(${{ parameters.ENVIRONMENT_WEU_PROD_01 }}, True))
                  inputs:
                    kubernetesServiceEndpoint: $(KUBERNETES_SERVICE_CONN_WEU_PROD_01)
                    namespace: $(NAMESPACE)
                    command: upgrade
                    chartType: filepath
                    chartPath: $(Pipeline.Workspace)/helm
                    chartName: $(DOCKER_IMAGE_NAME)
                    releaseName: $(DOCKER_IMAGE_NAME)
                    valueFile: '$(Pipeline.Workspace)/helm/values-prod01.yaml'
                    install: true
                    waitForExecution: true
                    arguments: '--timeout 5m0s'
                    overrideValues: microservice-chart.image.tag=$(Build.BuildId)
                - task: HelmDeploy@0
                  displayName: Helm upgrade
                  condition: and(succeeded(), eq(${{ parameters.ENVIRONMENT_WEU_PROD_02 }}, True))
                  inputs:
                    kubernetesServiceEndpoint: $(KUBERNETES_SERVICE_CONN_WEU_PROD_02)
                    namespace: $(NAMESPACE)
                    command: upgrade
                    chartType: filepath
                    chartPath: $(Pipeline.Workspace)/helm
                    chartName: $(DOCKER_IMAGE_NAME)
                    releaseName: $(DOCKER_IMAGE_NAME)
                    valueFile: '$(Pipeline.Workspace)/helm/values-prod02.yaml'
                    install: true
                    waitForExecution: true
                    arguments: '--timeout 5m0s'
                    overrideValues: microservice-chart.image.tag=$(Build.BuildId)
